

  /* Tab Buttons */
  .tab-buttons {
    display: flex;
    justify-content: space-around;
    /* border-bottom: 2px solid #e0e0e0; */
    flex-wrap: wrap; /* Allows wrapping for smaller screens */
  }
  
  .tab-button {
    flex: 1;
    padding: 6px 0px;
    border: none;
    border-bottom: 3px solid transparent;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    color: #606060;
    transition: all 0.3s ease;
    background-color: #fff;
    /* border-bottom: 3px solid #007bff; */
    border-radius: 10px 10px 0 0;
    margin: 0 5px;
  }
  
  /* .tab-button.tab_active {
    color: #ffffff;
    background-color: #007bff;
    border-bottom: 3px solid #007bff; 
    border-radius: 10px 10px 0 0;
  } */
  
  /* .tab-button:hover {
    background-color: #f0f0f0;
  } */
  
  /* Tab Content */
  .tab-content {
    display: none;
    padding: 0px 10px 0px 10px;
    /* color: #000; */
    /* font-weight: 600; */
    /* font-size: 14px; */
    /* line-height: 1.5; */
    background-color: #fff;
    border-top: 2px solid #e0e0e0;
    border-radius: 10px;
    /* border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; */
  }
  .tab-content label
  {
    margin-bottom: -1px;
  }
  
  .tab-content.tab_active {
    display: block;
  }
  .tab-container
  {
    margin-bottom: 90px;
  }
  /* Responsive Styling */
  @media (max-width: 768px) {
    .tab-buttons {
      flex-direction: column; /* Stack tabs vertically */
    }
  
    .tab-button {
      border-radius: 10px; /* Adjust rounded corners for vertical stacking */
      border-bottom: none;
      margin-bottom: 10px;
    }
  
    .tab-button.tab_tab_active {
      border-radius: 10px;
      margin-bottom: 0;
    }
  }
  